<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClubArcada.Common.Properties.Settings.PokerSystemConnectionString"
            connectionString="Data Source=82.119.117.77;Initial Catalog=PokerSystem;Persist Security Info=True;User ID=PokerTimer"
            providerName="System.Data.SqlClient" />
        <add name="ClubArcada.Common.Properties.Settings.ACDB_DEVConnectionString"
            connectionString="Data Source=82.119.117.77;Initial Catalog=ACDB_DEV;Persist Security Info=True;User ID=ACDB_user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>